body
{
 background-size: cover;
 background-position: center;

}

.heading
{
    box-shadow: 10px 10px 10px;
    border: 10px black;
}

canvas
{
    background-color: #000000;
    border: 4px solid rgba(255, 251, 5, 0.521);
    border-radius:20px;
    box-shadow: 10px 15px 10px #cc7400;
}